@use "../base/variables" as v;

body {
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  background-color: v.$color-bg;
  color: v.$color-text;
  line-height: 1.5;
}

.wrapper {
  width: min(1200px, 92%);
  margin-inline: auto;
}

.wrapper > section {
  padding-block: v.$section-spacing;
  border-bottom: 1px solid rgba(v.$color-text, 0.12);
}

//! zmiencie tak aby wam działało, uzyjcie swoich fontów itp