@use "../base/variables" as v;

body {
    background-color: rgb(247, 245, 243);
}

.section {
    padding: 96px 24px;

}

.section__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.section__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.reveal {
    transform: translateY(80px);
    opacity: 0;
    transition: all .5s ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.section__eyebrow {
    font-size: v.$fontSize-xs;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: v.$color-text-gray;

}

@media (min-width: 768px) {
    .section__eyebrow {
        font-size: v.$fontSize-m;
    }
}

.section__title {
    font-size: v.$fontSize-xxxl;
    font-style: italic;
    font-weight: inherit;
    color: v.$color-primary;
}

@media (min-width: 768px) {
    .section__title {
        font-size: v.$fontSize-mega;
    }
}