@use "../base/variables" as v;

.footer {
  background-color: v.$color-primary;

  min-height: 20vh;

  .footer__wrapper {
    padding: 40px 24px;
    border-bottom: 1px solid v.$color-border-footer;

    .footer__link-container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 32px;
      row-gap: 15px;

      .footer__link {

        text-transform: uppercase;
        letter-spacing: 2px;
        color: v.$color-text-footer;
        transition: v.motion(.2s);
      }

      .footer__link:hover {
        color: v.$color-secondary;
      }

    }
  }

  .footer__end {
    padding: 40px 24px;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    @media (min-width:768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .logo--footer {
      color: v.$color-secondary;
      font-size: v.$fontSize-xl;
      font-family: "DM Serif Display", sans-serif;
    }

    .footer__end-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 16px;

      @media (min-width:768px) {
        flex-direction: row;
        column-gap: 30px;
      }

      .footer__detail {
        font-size: v.$fontSize-xxs;
        color: v.$color-muted-gray;
        transition: v.motion(.2s);
      }

      a.footer__detail:hover {
        color: v.$color-secondary;
      }
    }
  }
}
