@use "../base/variables" as v;

.logo-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;

  

  .logo{
    font-family: "DM Serif Display", sans-serif;
    font-size: v.$fontSize-xl;
    color: v.$color-secondary;
  }
  .burger{
    font-size: v.$fontSize-l;
    color: v.$color-secondary;
  }
}


.hero-menu{
  display: none;


  padding: 32px 24px;
  
  
  background-color: v.$color-secondary ;
  .navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
 

  .navigation-link{
    font-family:"Space Grotesk", sans-serif; 
    font-size: v.$fontSize-xs;
    color: v.$color-text-gray;
    text-transform: uppercase;

  }

  

  
}
.hero-cover {
  height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.3)),
    url(/images/hero-concrete.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  height: 100vh;
  padding: 0 24px;
  // background-image: url(/images/hero-concrete.jpg);
  // background-size: cover;
  // background-position: center;

  .hero-logo{
font-size: v.$fontSize-mega;
font-family:"DM Serif Display", sans-serif;
color: v.$color-secondary; 
  }
  .hero-title{
    font-size: v.$fontSize-xl ;
    font-family: "DM Serif Display", sans-serif;
    font-style: italic;
    color: v.$color-secondary;
  }
  .hero-text{
    font-family:"Space Grotesk", sans-serif; 
    font-size: v.$fontSize-xs;
    color: v.$color-number;
  }
  button{
    font-family:"Space Grotesk", sans-serif;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .button__primary{
    font-size: v.$fontSize-xs;
    background-color: v.$color-secondary;
    color: v.$color-primary;
        border: 1px solid v.$color-secondary;

  }
  .button__secondary{
    font-size: v.$fontSize-s;
    background-color: transparent;
    color: v.$color-secondary;
    border: 1px solid v.$color-primary;
  }
  .link-shop{
    font-size: v.$fontSize-xxs;
    font-family:"Space Grotesk", sans-serif; 
    color: v.$color-muted-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .discover-link{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: v.$color-muted-gray;

  }
  .fa-arrow-down{
        color: v.$color-muted-gray;

  }

}
.features-grid{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 row-gap: 20px;
  padding: 48px 24px;
}



