@use "../base/variables" as v;

.section__contact {
  background-color: v.$bgc-card;

  .section__wrapper {
    gap: 80px;

    .contact__header {
      align-items: center;

      .section__eyebrow {
        font-size: v.$fontSize-xs;
      }

      .contact__header-text {
        max-width: 450px;
        font-size: v.$fontSize-m;
        font-weight: 300;
        text-align: center;
        line-height: 1.6;
        color: v.$color-text-gray;
      }

      .contact__header-text-muted {
        font-size: v.$fontSize-xs;
        color: v.$color-text-gray-alfa;
        font-weight: 300;
      }
    }

    .contact__grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 64px;

      @media (min-width: 1200px) {
        flex-direction: row;
      }

      .contact__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 24px;

        @media (min-width: 1200px) {
          flex-basis: 40%;
          flex-grow: 1;
        }

        .contact__field {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          row-gap: 8px;

          .contact__label {
            font-size: v.$fontSize-xxs;
            font-family: "Space Grotesk", sans-serif;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            color: v.$color-text-gray;

            .contact__label-span {
              text-transform: lowercase;
              color: v.$color-text-gray-alfa;
            }
          }

          .contact__input {
            resize: none;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid v.$color-border;
            padding: 12px 0;
            font-family: "Space Grotesk", sans-serif;
            font-size: v.$fontSize-s;
            color: v.$color-primary;
            font-weight: 300;
            transition: v.motion(.2s);
          }

          .contact__input::placeholder {
            color: v.$color-text-gray-alfa;
            font-weight: 300;
            font-size: v.$fontSize-s;
          }

          .contact__input:focus {
            outline: none;
          }

          .contact__input:focus {
            border-color: v.$color-icon;
          }




        }

        .form__button {
          align-self: flex-start;
          display: flex;
          gap: 10px;
          align-items: center;

          padding: 16px 32px;

          font-size: v.$fontSize-xs;
          font-family: "Space Grotesk", sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 1.5px;

          color: v.$color-secondary;
          background-color: v.$color-primary;

          cursor: pointer;
          transition: v.motion(.2s);

          svg {
            width: 16px;
            height: 16px;
          }
        }

        .form__button:hover {
          transform: scale(1.03);
        }

        .contact__details {
          display: flex;
          flex-direction: column;
          gap: 16px;
          padding: 40px 0;
          border-top: 1px solid v.$color-border;
          border-bottom: 1px solid v.$color-border;

          .contact__detail {
            display: flex;
            align-items: center;
            column-gap: 10px;



            svg {
              width: 16px;
              height: 16px;
              color: v.$color-text-gray;
              transition: v.motion(.2s);
            }

            .contact__text {
              font-size: v.$fontSize-xs;
              color: v.$color-text-gray ;
              transition: v.motion(.2s);
            }
          }

          .contact__detail:hover svg {
            color: v.$color-icon;
          }

          .contact__detail:hover .contact__text {
            color: v.$color-primary;
          }
        }

        .contact__social {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .social__title {
            font-size: v.$fontSize-xxs;
            color: v.$color-text-gray-alfa;
            text-transform: uppercase;
            letter-spacing: 2.4px;
          }

          .social__container {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            @media (max-width: 480px) {
              flex-direction: column;
              align-items: flex-start;
            }

            .social__link {
              display: flex;
              align-items: center;
              gap: 10px;
              font-size: v.$fontSize-xxs;
              color: v.$color-icon;
              padding-inline: 6px 12px;
              overflow-wrap: anywhere;

              .social__icon {
                font-size: v.$fontSize-l;
              }
            }
          }
        }
      }



      .contact__order {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media (min-width: 1200px) {
          flex-basis: 40%;
          flex-grow: 1;
        }

        .contact__order-title {
          font-size: v.$fontSize-xl;
          font-weight: inherit;
          color: v.$color-primary;
        }

        .contact__order-description {
          font-size: v.$fontSize-s;
          font-weight: 300;
          line-height: 1.6;
          color: v.$color-text-gray;

          .contact__order-description--link {
            text-decoration: underline;
            text-underline-offset: 4px;
            color: v.$color-primary;
            cursor: pointer;
            transition: v.motion(.1s);
          }

          .contact__order-description--link:hover {
            color: v.$color-icon;
          }
        }

        .contact__order-details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .contact__order-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 16px 0;
            border-bottom: 1px solid v.$color-border;

            .contact__order-label {
              font-size: v.$fontSize-xxs;
              text-transform: uppercase;
              letter-spacing: 2.4px;
              color: v.$color-text-gray;
            }

            .contact__order-value {
              font-size: v.$fontSize-xs;
              color: v.$color-primary;
            }
          }
        }
      }
    }
  }
}

