@use "../base/variables" as v;

.materials__wrapper{
    max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}


.materials{

  

    background-color: #f5f3f0;
    padding-top: 100px;

}
.materials__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;

  
  
}
.material{
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  .material__eyebrow{
    font-size: v.$fontSize-xs;
    color: v.$color-text-gray;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .material__title{
    font-size: v.$fontSize-xxxl;
    font-weight: 300;
    color: v.$color-primary;
  }
  @media(min-width:748px){
    .material__title{
      font-size: 72px;
    }
  }
  .material__description{
    font-size: v.$fontSize-m;
    color: v.$color-text-gray;
    margin-bottom: 85px;


  }
}
.product__benefits{
   display: flex;

  gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #e5e2dd;
 

  .product__title{
    font-size:  v.$fontSize-s;
    font-weight: 300;
    color:  v.$color-primary;
  }
 
 .product__text{
  font-size: v.$fontSize-xs;
  color: v.$color-text-gray;
  font-weight: 300;
 }
 .product__icon{
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
   border: 1px solid #e5e7eb;
  border-radius: 50%;
  color: #9ca3af;
  
  font-size: 16px;
 }
 .icon--product:hover{
  color: v.$color-icon;
 }
}
.product__content{
   display: flex;
  flex-direction: column;
  gap: 10px;
}

.important__information{
  padding: 26px 26px;
  margin-top: 40px;
  display: flex;
  column-gap: 15px;
  border: 1px solid #e9e3da;
  background-color: #f2ede7;
  

  .alert__text{
    font-size: v.$fontSize-xs;
    color: v.$color-text-gray;
  }
  .fa-exclamation-triangle{
    font-size: v.$fontSize-s;
    color: #c1a48b;
  }
}
.material__img{
  margin-bottom: 50px;
   width: 100%;
  height: auto;
  display: block;
}

// 


@media(min-width:768px){

  .product__benefits-container{
    display:flex;
    gap:60px;
    align-items:flex-start;
  }

  

  .benefits-list{
   
    
    
    display:flex;
    flex-direction:column;
  }

}
