@use "../base/variables" as v;

.about {
  padding: 128px 24px;
  background-color: #f7f5f3;
  
  .about__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 80px;
    
    .about__heading {
      display: flex;
      flex-direction: column;
      gap: 15px;
      
      .about__history {
        font-size: v.$fontSize-xs;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        color: v.$color-text-gray;
      }
      .about__title {
        font-size: v.$fontSize-xxxl;
        font-style: italic;
      }
    }
    .about__grid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 48px;
      .about__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .about__text {
          font-size: v.$fontSize-m;
          font-weight: 300;
          line-height: 1.6;
          color: v.$color-text-gray;
        }
        .about__text:nth-of-type(2)::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          margin-top: 24px;
          background-color: #dedad3;
        }
        .about__quote {
          font-size: v.$fontSize-l;
          font-style: italic;
          font-family: "DM Serif Display", sans-serif;

          line-height: 28px;

          padding-left: 24px;
          border-left: 2px solid v.$color-icon;
          color: v.$color-primary;
        }
      }
      .about__stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        .about__stat {
          display: flex;
          flex-direction: column;
          gap: 12px;
          flex-basis: 40%;
          flex-grow: 1;
          padding-top: 24px;
          border-top: 1px solid v.$color-border;
          .stat__title {
            font-size: v.$fontSize-xxl;
            font-weight: 500;
            line-height: 36px;
            color: v.$color-primary;
          }
          .stat__slogan {
            font-size: v.$fontSize-xxs;
            text-transform: uppercase;
            color: v.$color-text-gray;
            letter-spacing: 2.4px;
          }
        }
      }
    }
    .about__features {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 40px;

      .about__feature {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        align-items: center;
        text-align: center;

        .feature__icon-container {
          position: relative;
          width: 56px;
          height: 56px;
          border: 1px solid v.$color-border;
          border-radius: 50%;

          .feature__icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: v.$fontSize-xl;
            color: v.$color-text-gray;
          }
          
        }
        .feature__title {
            font-size: v.$fontSize-m;
            font-weight: 400;
            line-height: 28px;
            color: v.$color-primary;
          }
          .feature__text {
            font-size: v.$fontSize-xs;
            font-weight: 300;
            line-height: 1.6;
            color: v.$color-text-gray;
          }
      }
    }
  }

}

