@use "../base/variables" as v;

.section__realizations {

  background-color: v.$bgc-card;

  .realizations__wrapper {

    row-gap: 80px;

    .realizations__header-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 24px;

      @media (min-width: 900px) {
        flex-direction: row;
        align-items: flex-end;
      }

      .realizations__header {
        max-width: 430px;
      }

      .section__header-content {
        max-width: 390px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .realizations__text {
          font-size: v.$fontSize-s;
          font-weight: 300;
          line-height: 1.6;
          color: v.$color-text-gray;

          @media (min-width:768px) {
            font-size: v.$fontSize-m;
          }
        }

        .realizations__text-muted {
          font-size: v.$fontSize-xs;
          color: v.$color-text-gray-alfa;

          @media (min-width:768px) {
            font-size: v.$fontSize-s;
          }
        }

      }
    }

    .realizations__grid {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;


      .realizations__card {
        position: relative;
        overflow: hidden;
        aspect-ratio: 4 / 5;


        @media (min-width:768px) {
          flex-basis: calc((100% - 32px) / 2);

        }

        @media (min-width: 1200px) {
          flex-basis: calc((100% - 64px) / 3);
        }

        .realizations__image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: .3s;
        }

        .realizations__span {
          position: absolute;
          top: 12px;
          right: 12px;
          padding: 6px 10px;

          background-color: v.$bgc-card-span;
          color: v.$color-text-gray;

          text-transform: uppercase;
          letter-spacing: 1.5px;

        }

        .realizations__name {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          font-size: v.$fontSize-xxl;
          font-family: "DM Serif Display", sans-serif;
          text-align: center;
          color: v.$color-secondary;
          transition: .3s;
        }
      }

      .card--sm {
        max-height: 236.5px;
      }

      .card--md {
        max-height: 354.75px;
      }



      .realizations__card:hover .realizations__image {
        filter: brightness(50%);
      }

      .realizations__card:hover .realizations__name {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}