@use "../base/variables" as v;
.custom {
  background-color: #f5f3f0;
  padding-top: 100px;
}
.custom__container {
  padding: 0px 24px;
}

.custom__intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .custom__span {
    font-size: v.$fontSize-xs;
    color: v.$color-text-gray;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .custom__title {
    font-size: v.$fontSize-xxxl;
    font-weight: 400;
    color: v.$color-primary;
  }
}
.custom__text {
  font-size: v.$fontSize-m;
  color: v.$color-text-gray;
  margin-top: 50px;
}

.custom__intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .custom__span {
    font-size: v.$fontSize-xs;
    color: v.$color-text-gray;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .custom__title {
    font-size: v.$fontSize-xxxl;
    font-weight: 400;
    color: v.$color-primary;
  }
}
.custom__text {
  font-size: v.$fontSize-m;
  color: v.$color-text-gray;
  margin-top: 50px;
}
