$color-text-gray: #78736d;
$color-text-gray-alfa: #78736d99;
$color-muted-gray: #f7f5f366;

$color-primary: #2a2622;
$color-secondary:	#f7f5f3;

$color-icon: #c1a48b;
$color-number: #c2bfbc80;
$color-border: 	#dedad3;

$bgc-card: #f0eeea;
$bgc-card-second: #c1a48b0d;
$bgc-card-span: #f7f5f3cc;
// * Koniec kolorów

//* font-size
$fontSize-xxs: 12px;
$fontSize-xs: 14px;
$fontSize-s: 16px;
$fontSize-m: 18px;
$fontSize-l: 20px;
$fontSize-xl: 24px;
$fontSize-xxl: 30px;
$fontSize-xxxl: 36px;
$fontSize-mega: 72px;





//! wywalcie te zmienne i dodajcie swoje