@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "DM Serif Display", sans-serif;
}

a, span, p {
  font-family: "Space Grotesk", sans-serif;
}

.logo-link {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link .logo {
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  color: #f7f5f3;
}
.logo-link .burger {
  font-size: 20px;
  color: #f7f5f3;
}

.hero-menu {
  display: none;
  padding: 32px 24px;
  background-color: #f7f5f3;
}
.hero-menu .navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.hero-menu .navigation-link {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
}

.hero-cover {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/images/hero-concrete.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  height: 100vh;
  padding: 0 24px;
  padding-top: 120px;
}
.hero-content .hero-logo {
  position: relative;
  font-size: 72px;
  font-family: "DM Serif Display", sans-serif;
  color: #f7f5f3;
}
.hero-content .hero-logo::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  width: 60px;
  height: 1px;
  background-color: white;
}
.hero-content .hero-title {
  font-size: 24px;
  font-family: "DM Serif Display", sans-serif;
  font-style: italic;
  color: #f7f5f3;
  font-weight: 400;
}
.hero-content .hero-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: rgba(247, 245, 243, 0.4);
  text-align: center;
}
.hero-content button {
  width: 220px;
  white-space: nowrap;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero-content .button__primary {
  font-size: 14px;
  background-color: #f7f5f3;
  color: #2a2622;
  border: 1px solid #f7f5f3;
}
.hero-content .button__secondary {
  font-size: 12px;
  background-color: transparent;
  color: #f7f5f3;
  border: 1px solid #f7f5f3;
  letter-spacing: 1px;
  margin-top: -10px;
}
.hero-content .link-shop {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  color: rgba(247, 245, 243, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.hero-content .fa-arrow-right {
  transform: rotate(320deg);
}
.hero-content .discover {
  position: relative;
}
.hero-content .discover::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translatex(-50%);
  width: 60px;
  height: 1px;
  background-color: white;
}
.hero-content .discover-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(247, 245, 243, 0.4);
  font-size: 12px;
}
.hero-content .fa-arrow-down {
  color: rgba(247, 245, 243, 0.4);
  font-size: 16px;
  animation: arrow 2s linear infinite;
  padding-bottom: 10px;
}

.features-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 48px 24px;
  border-bottom: 1px solid rgb(222, 218, 211);
}
.features-grid .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 50%;
}
.features-grid .fa-solid {
  font-size: 20px;
  color: rgb(193, 164, 139);
}
.features-grid .features-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #78736d;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
.about {
  padding: 128px 24px;
  background-color: #f7f5f3;
}
.about .about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 80px;
}
.about .about__container .about__heading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about .about__container .about__heading .about__history {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 20px;
  color: #78736d;
}
.about .about__container .about__heading .about__title {
  font-size: 36px;
  font-style: italic;
}
.about .about__container .about__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.about .about__container .about__grid .about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about .about__container .about__grid .about__content .about__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #78736d;
}
.about .about__container .about__grid .about__content .about__text:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 24px;
  background-color: #dedad3;
}
.about .about__container .about__grid .about__content .about__quote {
  font-size: 20px;
  font-style: italic;
  font-family: "DM Serif Display", sans-serif;
  line-height: 28px;
  padding-left: 24px;
  border-left: 2px solid #c1a48b;
  color: #2a2622;
}
.about .about__container .about__grid .about__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
.about .about__container .about__grid .about__stats .about__stat {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 40%;
  flex-grow: 1;
  padding-top: 24px;
  border-top: 1px solid #dedad3;
}
.about .about__container .about__grid .about__stats .about__stat .stat__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: #2a2622;
}
.about .about__container .about__grid .about__stats .about__stat .stat__slogan {
  font-size: 12px;
  text-transform: uppercase;
  color: #78736d;
  letter-spacing: 2.4px;
}
.about .about__container .about__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.about .about__container .about__features .about__feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.about .about__container .about__features .about__feature .feature__icon-container {
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #dedad3;
  border-radius: 50%;
}
.about .about__container .about__features .about__feature .feature__icon-container .feature__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #78736d;
}
.about .about__container .about__features .about__feature .feature__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2a2622;
}
.about .about__container .about__features .about__feature .feature__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #78736d;
}

.sklep {
  background-color: #fff;
  min-height: 28vh;
}

.realizacje {
  background-color: #fcf7f1;
  min-height: 28vh;
}

.proces__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}
.proces__heading .proces__span-text {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.proces__heading .accent__title {
  font-size: 36px;
  font-weight: 400;
}

.button__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.button__container .proces__button {
  padding: 16px;
  text-transform: uppercase;
  width: 40%;
  height: 80px;
}
.button__container .proces__button--c {
  width: 80%;
  height: auto;
}

.proces__description {
  font-size: 16px;
  color: #78736d;
  margin-top: 80px;
  text-align: center;
}

.proces__flow {
  display: none;
}

.visible {
  display: block;
}

.materialy {
  background-color: #f8f2eb;
  min-height: 28vh;
}

.wymiar {
  background-color: #fff;
  min-height: 28vh;
}

.opinie {
  background-color: #fdf8f3;
  min-height: 28vh;
}

.pomoc {
  background-color: #fff;
  min-height: 28vh;
}

.kontakt {
  background-color: #faf5ee;
  min-height: 28vh;
}

.footer {
  background-color: #1f1c16;
  color: #f7efe5;
  min-height: 20vh;
}/*# sourceMappingURL=style.css.map */