@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "DM Serif Display", sans-serif;
}

a, span, p {
  font-family: "Space Grotesk", sans-serif;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.section__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.section__eyebrow {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #78736d;
}

.section__title {
  font-size: 36px;
  font-style: italic;
  font-weight: inherit;
  color: #2a2622;
}

.logo-link {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link .logo {
  font-family: "DM Serif Display", sans-serif;
  font-size: 24px;
  color: #f7f5f3;
}
.logo-link .burger {
  font-size: 20px;
  color: #f7f5f3;
}

@media (min-width: 1200px) {
  .logo-link .burger {
    display: none;
  }
}
.hero-menu {
  display: none;
  z-index: 10;
  background: transparent;
}
.hero-menu .navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.hero-menu .navigation-link {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  position: relative;
}
.hero-menu .navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #f7f5f3;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.hero-menu .navigation-link:hover::after {
  transform: scaleX(1);
}
.hero-menu .navigation-link:hover {
  color: #f7f5f3;
}
@media (min-width: 768px) {
  .hero-menu .navigation-link {
    letter-spacing: 2px;
  }
}
@media (min-width: 1200px) {
  .hero-menu .navigation-link {
    font-size: 10px;
    color: rgba(247, 245, 243, 0.6980392157);
  }
}

@media (min-width: 1200px) {
  .hero-menu {
    display: block;
    position: fixed;
    top: 40px;
    left: 200px;
    right: 40px;
  }
  .hero-menu .navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 40px;
  }
}
.hero-cover {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(/images/hero-concrete.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  height: 100vh;
  padding: 0 24px;
  padding-top: 120px;
}
.hero-content .hero-logo {
  position: relative;
  font-size: 72px;
  font-family: "DM Serif Display", sans-serif;
  color: #f7f5f3;
}
@media (min-width: 768px) {
  .hero-content .hero-logo {
    font-size: 128px;
  }
}
@media (min-width: 1200px) {
  .hero-content .hero-logo {
    font-size: 158px;
  }
}
.hero-content .hero-logo::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  width: 60px;
  height: 1px;
  background-color: white;
}
.hero-content .hero-title {
  font-size: 24px;
  font-family: "DM Serif Display", sans-serif;
  font-style: italic;
  color: #f7f5f3;
  font-weight: 400;
}
@media (min-width: 768px) {
  .hero-content .hero-title {
    font-size: 30px;
  }
}
.hero-content .hero-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: rgba(247, 245, 243, 0.4);
  text-align: center;
}
@media (min-width: 768px) {
  .hero-content .hero-text {
    font-size: 18px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .hero-content .hero-text {
    max-width: 600px;
    margin: 0 auto;
  }
}
.hero-content .hero__button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .hero-content .hero__button-container {
    flex-direction: row;
    justify-content: center;
  }
}
.hero-content .hero__button-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 220px;
  white-space: nowrap;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .button {
    padding: 18px 32px;
  }
}
.hero-content .hero__button-container .button__primary {
  font-size: 14px;
  background-color: #f7f5f3;
  color: #2a2622;
  border: 1px solid #f7f5f3;
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .button__primary {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .hero-content .hero__button-container .button__primary {
    font-size: 14px;
  }
}
.hero-content .hero__button-container .button__secondary {
  font-size: 12px;
  background-color: transparent;
  color: #f7f5f3;
  border: 1px solid #f7f5f3;
  letter-spacing: 1px;
  margin-top: -10px;
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .button__secondary {
    margin-top: 0;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .hero-content .hero__button-container .button__secondary {
    font-size: 14px;
  }
}
.hero-content .hero__button-container .button__primary:hover {
  background-color: #e0e0e0;
}
.hero-content .hero__button-container .button__secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .link-shop {
    font-size: 16px;
  }
}
.hero-content .hero__button-container .fa-arrow-right {
  transform: rotate(320deg);
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .discover {
    margin-top: 180px;
  }
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .discover::after {
    content: "";
    top: -180px;
  }
}
@media (min-width: 768px) {
  .hero-content .hero__button-container .discover-link {
    font-size: 16px;
  }
}
.hero-content .link-shop:hover {
  color: #f7f5f3;
}

@media (min-width: 768px) {
  .hero-content {
    display: flex;
    justify-content: center;
    row-gap: 30px;
  }
}
.link-shop {
  margin-top: 20px;
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  color: rgba(247, 245, 243, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.discover {
  margin-top: 40px;
}

.discover-link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(247, 245, 243, 0.4);
  font-size: 12px;
  cursor: pointer;
}

.discover-link:hover {
  color: #f7f5f3;
}

.fa-arrow-down {
  margin-top: 10px;
  color: rgba(247, 245, 243, 0.4);
  animation: arrow 4s linear infinite;
  font-size: 16px;
}

.features-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 48px 24px;
  border-bottom: 1px solid rgb(222, 218, 211);
}
.features-grid .features {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 50%;
}
.features-grid .fa-solid {
  font-size: 20px;
  color: rgb(193, 164, 139);
}
.features-grid .features-text {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #78736d;
}

@media (min-width: 768px) {
  .features-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .features-grid {
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  .features-grid .features {
    width: 200px;
    text-align: center;
  }
}
@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
.section__about {
  padding: 128px 24px;
  background-color: #f7f5f3;
}
.section__about .section__wrapper {
  row-gap: 80px;
}
.section__about .section__wrapper .about__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.section__about .section__wrapper .about__grid .about__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section__about .section__wrapper .about__grid .about__content .about__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #78736d;
}
.section__about .section__wrapper .about__grid .about__content .about__text:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 24px;
  background-color: #dedad3;
}
.section__about .section__wrapper .about__grid .about__content .about__quote {
  font-size: 20px;
  font-style: italic;
  font-family: "DM Serif Display", sans-serif;
  line-height: 28px;
  padding-left: 24px;
  border-left: 2px solid #c1a48b;
  color: #2a2622;
}
.section__about .section__wrapper .about__grid .about__stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
.section__about .section__wrapper .about__grid .about__stats .about__stat {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-basis: 40%;
  flex-grow: 1;
  padding-top: 24px;
  border-top: 1px solid #dedad3;
}
.section__about .section__wrapper .about__grid .about__stats .about__stat .stat__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  color: #2a2622;
}
.section__about .section__wrapper .about__grid .about__stats .about__stat .stat__slogan {
  font-size: 12px;
  text-transform: uppercase;
  color: #78736d;
  letter-spacing: 2.4px;
}
.section__about .section__wrapper .about__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
.section__about .section__wrapper .about__features .about__feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  text-align: center;
}
.section__about .section__wrapper .about__features .about__feature .feature__icon-container {
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #dedad3;
  border-radius: 50%;
}
.section__about .section__wrapper .about__features .about__feature .feature__icon-container .feature__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #78736d;
}
.section__about .section__wrapper .about__features .about__feature .feature__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #2a2622;
}
.section__about .section__wrapper .about__features .about__feature .feature__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #78736d;
}

.section__shop {
  padding: 96px 24px;
  background-color: #f7f5f3;
}
.section__shop .shop__wrapper {
  row-gap: 64px;
}
.section__shop .shop__wrapper .shop__header-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
.section__shop .shop__wrapper .shop__header-grid .shop__link {
  align-self: flex-start;
  border-bottom: 3px solid #dedad3;
  padding-bottom: 4px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__header-grid .shop__link .fa-arrow-right {
  transform: rotate(320deg);
  font-size: 12px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.section__shop .shop__wrapper .shop__category-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 32px;
  background-color: #dedad3;
}
.section__shop .shop__wrapper .shop__category {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section__shop .shop__wrapper .shop__category .shop__category-title {
  font-size: 20px;
  font-weight: 400;
  color: #2a2622;
}
.section__shop .shop__wrapper .shop__category .shop__category-text {
  font-size: 14px;
  color: #78736d;
  font-weight: 300;
}
.section__shop .shop__wrapper .shop__toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.section__shop .shop__wrapper .shop__toolbar .button-select {
  font-size: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #dedad3;
  color: #78736d;
  cursor: pointer;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filter-toggle {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filter-toggle .icon-filter {
  font-size: 14px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filter-toggle .shop__filter-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filters .shop__filter-button {
  padding: 8px 14px;
}
.section__shop .shop__wrapper .shop__toolbar .shop__filters .shop__filter-button--active {
  border-color: #2a2622;
  color: #2a2622;
}
.section__shop .shop__wrapper .shop__toolbar .shop__actions {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}
.section__shop .shop__wrapper .shop__toolbar .shop__actions .shop__select {
  width: 45%;
  flex-grow: 1;
  padding: 8px 12px;
}
.section__shop .shop__wrapper .shop__grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
}
.section__shop .shop__wrapper .shop__grid .shop__card {
  display: flex;
  flex-direction: column;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__image-wrapper {
  overflow: hidden;
  position: relative;
  aspect-ratio: 4/5;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__image-wrapper .shop__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__image-wrapper .shop__badge {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(247, 245, 243, 0.8);
  color: #78736d;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 15px;
  border: 1px solid #dedad3;
  border-top: none;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__card-category {
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__card-title {
  font-size: 18px;
  color: #2a2622;
  font-weight: 400;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  padding-bottom: 4px;
  color: #78736d;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__size {
  font-size: 12px;
  color: rgba(120, 115, 109, 0.6);
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__size::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dedad3;
  margin-top: 16px;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__card-footer .shop__price {
  font-size: 24px;
  font-family: "DM Serif Display", sans-serif;
  color: #2a2622;
}
.section__shop .shop__wrapper .shop__grid .shop__card .shop__card-content .shop__card-footer .shop__button {
  padding: 10px 16px;
  border: 1px solid #dedad3;
  font-size: 12px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1.8px;
  color: rgba(120, 115, 109, 0.6);
}
.section__shop .shop__wrapper .shop__footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.section__shop .shop__wrapper .shop__footer .shop__promotion {
  text-align: center;
  border: 1px solid #dedad3;
  background-color: rgba(193, 164, 139, 0.0509803922);
}
.section__shop .shop__wrapper .shop__footer .shop__promotion .info-text {
  padding: 20px 24px;
  font-size: 14px;
  font-family: "DM Serif Display", sans-serif;
  line-height: 1.6;
  color: #2a2622;
}
.section__shop .shop__wrapper .shop__footer .shop__info::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dedad3;
  margin-bottom: 16px;
}
.section__shop .shop__wrapper .shop__footer .shop__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 8px;
}
.section__shop .shop__wrapper .shop__footer .shop__info .shop__info-text {
  font-weight: 300;
  font-style: italic;
  color: rgba(120, 115, 109, 0.6);
}
.section__shop .shop__wrapper .shop__footer .shop__info .shop__info-from {
  font-size: 14px;
}
.section__shop .shop__wrapper .shop__footer .shop__info .shop__info-more {
  font-size: 12px;
}

.section__realizations {
  padding: 96px 24px;
  background-color: #f0eeea;
}
.section__realizations .realizations__wrapper {
  row-gap: 80px;
}
.section__realizations .realizations__wrapper .realizations__header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 24px;
}
.section__realizations .realizations__wrapper .realizations__header-wrap .section__header-content {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section__realizations .realizations__wrapper .realizations__header-wrap .section__header-content .realizations__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #78736d;
}
.section__realizations .realizations__wrapper .realizations__header-wrap .section__header-content .realizations__text-muted {
  font-size: 14px;
  color: rgba(120, 115, 109, 0.6);
}
.section__realizations .realizations__wrapper .realizations__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.section__realizations .realizations__wrapper .realizations__grid .realizations__card {
  position: relative;
  overflow: hidden;
  aspect-ratio: 4/5;
}
.section__realizations .realizations__wrapper .realizations__grid .realizations__card .realizations__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__realizations .realizations__wrapper .realizations__grid .realizations__card .realizations__span {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 10px;
  background-color: rgba(247, 245, 243, 0.8);
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.proces__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.proces__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
}
.proces__heading .proces__span-text {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.proces__heading .accent__title {
  font-size: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .proces__heading .accent__title {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  .proces__heading {
    padding-top: 80px;
  }
}
.proces {
  background-color: #f7f5f3;
}

.button__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.button__container .proces__button {
  position: relative;
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  padding: 16px;
  text-transform: uppercase;
  width: 40%;
  height: 80px;
  letter-spacing: 1px;
  color: #78736d;
  background-color: #f7f5f3;
  border: 1px solid #e5e7eb;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  cursor: pointer;
}
.button__container .proces__button.active-button {
  background-color: #2a2622;
  color: #f7f5f3;
}
.button__container .proces__button.active-button .proces__button-letter {
  color: #c1a48b;
}
.button__container .proces__button .button-sub {
  display: block;
}
.button__container .proces__button .proces__button-letter {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: rgba(120, 115, 109, 0.4);
}
@media (min-width: 768px) {
  .button__container .proces__button {
    width: 30%;
    height: 70px;
  }
}
.button__container .proces__button--c {
  width: 80%;
  height: auto;
}
@media (min-width: 768px) {
  .button__container .proces__button--c {
    width: 30%;
    height: 70px;
  }
}

@media (min-width: 768px) {
  .button__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.proces__description {
  font-size: 16px;
  color: #78736d;
  margin-top: 80px;
  text-align: center;
}

@media (min-width: 768px) {
  .proces__description {
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    max-width: 520px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
  }
}
.proces__flow-container--b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 60px;
  padding: 0px 24px;
  margin-top: 60px;
  display: none;
}

.proces__flow-container--c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 60px;
  padding: 0px 24px;
  margin-top: 60px;
}
.proces__flow-container--c .proces__flow--c {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #dedad3;
  padding-bottom: 20px;
  display: none;
}
.proces__flow-container--c .proces__flow--c .proces__number--c {
  width: 140px;
  flex-shrink: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "DM Serif Display", sans-serif;
  color: rgba(194, 191, 188, 0.5019607843);
}
.proces__flow-container--c .proces__flow--c .proces__text--c {
  flex: 1;
  font-size: 14px;
  color: #78736d;
}

.proces__flow-container--a {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 60px;
  background-color: #f7f5f3;
  padding: 0px 24px;
}

.proces__flow {
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid #dedad3;
  padding-bottom: 20px;
}

.proces__number {
  font-size: 36px;
  font-family: "DM Serif Display", sans-serif;
  color: rgba(194, 191, 188, 0.5019607843);
  line-height: 1;
  width: 60px;
  flex-shrink: 0;
}

@media (min-width: 748px) {
  .proces__number {
    font-size: 48px;
  }
}
.proces__text {
  font-size: 16px;
  color: #78736d;
}

@media (min-width: 748px) {
  .proces__text {
    font-size: 16px;
  }
}
.materials__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.materials {
  background-color: #f5f3f0;
  padding-top: 100px;
}

.materials__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  padding: 0px 24px;
}

.material {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.material .material__eyebrow {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.material .material__title {
  font-size: 36px;
  font-weight: 400;
  color: #2a2622;
}
@media (min-width: 748px) {
  .material .material__title {
    font-size: 72px;
  }
}
.material .material__description {
  font-size: 18px;
  color: #78736d;
  margin-bottom: 85px;
}

.product__benefits {
  display: flex;
  gap: 20px;
  padding: 25px 0;
  border-bottom: 1px solid #e5e2dd;
}
.product__benefits .product__title {
  font-size: 16px;
  font-weight: 400;
  color: #2a2622;
}
.product__benefits .product__text {
  font-size: 14px;
  color: #78736d;
}
.product__benefits .product__icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  color: #2a2622;
  font-size: 16px;
}

.product__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.important__information {
  padding: 26px 26px;
  margin-top: 40px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  border: 1px solid #e9e3da;
  background-color: #f2ede7;
}
.important__information .alert__text {
  font-size: 14px;
  color: #78736d;
}
.important__information .fa-exclamation-triangle {
  font-size: 16px;
  color: #c1a48b;
}

.material__img {
  margin-bottom: 50px;
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .product__benefits-container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
  }
}
.custom__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.custom {
  background-color: #f5f3f0;
  padding-top: 100px;
}

.custom__container {
  padding: 0px 24px;
}

.custom__intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-bottom: 20px;
}
.custom__intro .custom__span {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.custom__intro .custom__title {
  font-size: 36px;
  font-weight: 400;
  color: #2a2622;
}

.custom__text {
  font-size: 18px;
  color: #78736d;
  margin-top: 50px;
}

.custom__intro {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid #e5e2dd;
  margin-bottom: 30px;
}
.custom__intro .custom__span {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.custom__intro .custom__title {
  font-size: 36px;
  font-weight: 400;
  color: #2a2622;
}
@media (min-width: 768px) {
  .custom__intro .custom__title {
    font-size: 72px;
  }
}

@media (min-width: 768px) {
  .orders__container {
    display: flex;
    gap: 40px;
  }
  .orders__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    flex: 1;
  }
  .custom__options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
  }
}
.custom__text {
  font-size: 18px;
  color: #78736d;
  margin-bottom: 40px;
  line-height: 1.6;
}

.orders {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 15px 10px;
}
.orders .orders__number {
  font-size: 24px;
  font-family: "DM Serif Display", sans-serif;
  color: rgba(194, 191, 188, 0.5019607843);
}
.orders .orders__title {
  font-size: 14px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  color: #2a2622;
  line-height: 1.6;
}
.orders .orders__text-secondary {
  font-size: 14px;
  color: #78736d;
  line-height: 1.6;
}
.orders .shop-link {
  text-decoration: underline;
  color: #2a2622;
}

.orders__button {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 30px;
}
.orders__button .button__orders {
  font-family: "Space Grotesk", sans-serif;
  font-size: 12px;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 12px 24px;
  background-color: #f5f3f0;
  color: #2a2622;
  border: 1px solid #dedad3;
  cursor: pointer;
  transition: 0.3s;
}
.orders__button .button__orders:hover {
  border: 1px solid black;
}
.orders__button .fa-arrow-right {
  transform: rotate(310deg);
  font-size: 12px;
}
.orders__button .arrow--right {
  transform: rotate(0deg);
}
.orders__button .orders-button {
  background-color: #2a2622;
  color: #f7f5f3;
}

.custom__card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 38px;
  margin-top: 25px;
  border: 1px solid #dedad3;
}

@media (min-width: 768px) {
  .custom__card {
    flex-grow: 1;
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-basis: 48%;
    padding: 38px;
  }
}
.custom__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid #dedad3;
  color: rgba(152, 149, 146, 0.5058823529);
  font-size: 16px;
}

.custom__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.custom__content .custom__card-title {
  font-size: 18px;
  color: #2a2622;
  font-weight: 400;
}
.custom__content .custom__card-text {
  font-size: 14px;
  color: #78736d;
  line-height: 1.6;
}

.custom__notice {
  padding: 26px 32px;
  margin-top: 20px;
  border: 1px solid #dedad3;
}
.custom__notice .custom__notice-text {
  font-size: 14px;
  color: rgba(120, 115, 109, 0.6);
  font-style: italic;
}

@media (min-width: 768px) {
  .orders__button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 260px;
    gap: 15px;
  }
}
@media (min-width: 768px) {
  .custom__notice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: end;
    width: 100%;
  }
}
.section__opinions {
  padding: 96px 24px;
}
.section__opinions .section__wrapper {
  gap: 64px;
}
.section__opinions .section__wrapper .opinions__header {
  text-align: center;
}
.section__opinions .section__wrapper .google-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.section__opinions .section__wrapper .google-reviews .google-reviews__rating {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.section__opinions .section__wrapper .google-reviews .google-reviews__rating .google-reviews__star {
  font-size: 18px;
  color: #c1a48b;
}
.section__opinions .section__wrapper .google-reviews .google-reviews__message {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  color: #78736d;
}
.section__opinions .section__wrapper .google-reviews .google-reviews__source {
  padding: 4px 12px;
  text-transform: uppercase;
  color: rgba(120, 115, 109, 0.6);
  border: 1px solid #dedad3;
}
.section__opinions .section__wrapper .section__features::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dedad3;
  margin-bottom: 34px;
}
.section__opinions .section__wrapper .section__features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.section__opinions .section__wrapper .section__features .features__eyebrow {
  text-align: center;
}
.section__opinions .section__wrapper .section__features .features__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 32px;
  background-color: #f0eeea;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card .features__icon-container {
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #dedad3;
  border-radius: 50%;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card .features__icon-container .features__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #78736d;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card .features__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card .features__content .features__title {
  font-size: 16px;
  font-weight: inherit;
  font-family: "DM Serif Display", sans-serif;
}
.section__opinions .section__wrapper .section__features .features__grid .features__card .features__content .features__text {
  font-size: 14px;
  font-weight: 300;
  color: #78736d;
  line-height: 1.6;
}

.section__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

.help__section {
  background-color: #f7f5f3;
  padding: 0px 24px;
}

.help {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 50px;
}
.help .help__span {
  font-size: 14px;
  color: #78736d;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.help .help__title {
  font-size: 36px;
  font-weight: 400;
  color: #2a2622;
}

.help__tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 70px;
}
.help__tabs .help__tab {
  font-size: 11px;
  color: #78736d;
  background-color: #f7f5f3;
  border: 1px solid #dedad3;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 10px;
  cursor: pointer;
}
.help__tabs .help__tab--active {
  color: #2a2622;
  border: 1px solid #2a2622;
  background-color: #e8e4df;
}

.help__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.help__question {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #dedad3;
}
.help__question .help__question-span {
  font-size: 16px;
  color: #2a2622;
  letter-spacing: 1px;
  cursor: pointer;
}
.help__question .help__question-text {
  font-size: 14px;
  color: #78736d;
  display: none;
}

.help__icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #78736d;
  cursor: pointer;
}

.kontakt {
  background-color: #faf5ee;
  min-height: 28vh;
}

.footer {
  background-color: #1f1c16;
  color: #f7efe5;
  min-height: 20vh;
}/*# sourceMappingURL=style.css.map */