@use "base/variables";
@use "base/reset";
@use "layout/main";
@use "sections/hero";
@use "sections/onas";
@use "sections/sklep";
@use "sections/realizacje";
@use "sections/proces";
@use "sections/materialy";
@use "sections/wymiar";
@use "sections/opinie";
@use "sections/pomoc";
@use "sections/kontakt";
@use "sections/footer";
